* {
    -fx-font-family: "Segoe UI"
}
.format-date {
    -fx-alignment: center;
}
.format-number {
    -fx-alignment: center-right;
}
.main-title {
    -fx-font-size: 24;
    -fx-font-family: "Segoe UI Semibold";
}
.header {
    -fx-font-size: 20;
}
.text-field,
.text {
    -fx-font-size: 14;
}
.table-view {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14;
}
#vertical-separator {
    -fx-padding: 0 0 5 -5;
}
.main-body {
    -fx-padding: 5 0 5 0;
}